html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h2{
    color: #643815;
}

#mainBody{
    background-color: white;
    display: inline-block;
    margin-left: 310px;
    margin-right: 310px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    min-width: 1050px;
    }

.guarantee{
    border-color: #592C02;
    border-style: solid;
    background-color: #8AE4FF;
    border-radius: 15px;
/*      display: inline-block;
*/      border-width: 3px;
    margin: 0 auto;
    width: 40%;
    text-align: center;

}

#guaranteebox{

    border-style: solid;
    background-color:  #592C02;;
    border-radius: 15px;
/*      display: inline-block;
*/      border-width: 3px;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    

    }

#free{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 48%;
}

#medical td, #medical th{
    border: 1px solid black;
    padding: 12px;
}
#medical{
    border-collapse: collapse;
    margin: 10px;

}

/*#navbar{
    text-align: center;
}

#navbar ul{
    display: inline-block;
    margin: 0 auto;
    list-style-type: none;

}

#navbar li{
    float: left;
    padding-left: 30px;
    padding-right: 30px;

}*/

#navbar ul {
    display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 90%;
    margin: 0;

}
#navbar li {
    display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

#missionImage{
display: block;
margin-right: auto;
margin-left: auto;
width: 50%;
  }
